amqp==5.2.0
asgiref==3.7.2
automium==0.2.6
automium_web==0.1.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
billiard==4.2.0
blinker==1.7.0
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.2.0
crispy==0.7.4
crispy-bootstrap4==2023.1
crispy-bootstrap5==2023.10
cryptography==41.0.7
cycler==0.12.1
decorator==5.1.1
Deprecated==1.2.14
Django==5.0.2
django-crispy-forms==2.1
django-phonenumber-field==7.3.0
djangorestframework==3.12.4
fabio==2023.10.0
fabric==3.2.2
fake==0.8
Faker==22.2.0
Flask==3.0.1
fonttools==4.48.1
h5py==3.10.0
hdf5plugin==4.4.0
idna==3.6
invoke==2.2.0
itsdangerous==2.1.2
Jinja2==3.1.3
kiwisolver==1.4.5
kombu==5.3.5
legacy==0.1.7
lxml==5.1.0
MarkupSafe==2.1.4
matplotlib==3.8.2
numpy==1.26.4
packaging==23.2
paramiko==3.4.0
pillow==10.2.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
pycparser==2.21
PyNaCl==1.5.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
python-dotenv==1.0.1
register==0.1
requests==2.31.0
silx==2.0.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
wrapt==1.16.0
